*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.container form{
    display: flex;
    flex-direction: column;
}